button {
    border: 0;
    outline: 0;
}
.filtros
{
    margin-top: 10px;
}

.delete-multiple{
    margin-top: -30px;
    display: none;
    position: absolute;
}
td.pagination
{
    /*text-align: center;*/
}

.btn-order:hover{
    text-decoration: underline;
    color: #1ec3c8;
}
